<div class='content'>
  <section class='full-note'>
  <h1>Editing note</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @note %> |
  <a href="/people/<%= @note.person_id %>">Back</a>
  </section>
</div>
