<h3>Family Tree v0.2</h3>
<h4>by Chris Peak</h4>
<p>Family Tree Geneology Project, written by Chris Peak</p>
<p>Written in Rails v3.2.3</br />
<strong>v0.1</strong> - Began development April 30, 2012<br />
+ Released May 4th, 2012 - Happy Star Wars Day<br />
- Initial launch! How neat

</p>
<p><strong>v0.2</strong> - Began development May 5th, 2012<br />
+ Unreleased<br />


