<form method='link' action='/'>
<a href="/"><img src="<%= image_path("family-full-white.svg") %>" /></a>
<button class="btn"><section><span class='icon-lock'></span> <span class='text'>Login</span></section></button>
</form>
