<div class='todo'>
<h1>App To Do List</h1>
<h2>Funtional</h2>
<ul>
  <li>Person#index- sortable columns</li>
  <li>Search across tables (i.e. Notes)</li>
  <li>Homepage search functionality</li>
  <li>Create/Edit Person - able to set relationships!!!</li>
  <li>Dynamic Tree Generation</li>
  <li>Tree Generation from selected person</li>
  <li>Multiple Photos</li>
  <li>When I edit a person without a listed Date of Death it should remain NULL, NOT take on the current date.</li>
  <li>PRESENTERS! The Models are a mish-mash of functions and stuff that probably shouldnt be there</li>
  <li>Test Coverage</li>
</ul>
<h2>Model</h2>
<ul>
  <li>Verify or improve relationship table functionality</li>
  <li>Marriage Dates</li>
  <li>Burial Location</li>
</ul>
<h2>Styling</h2>
<ul>
  <li>Gallery popups</li>
  <li>Better main bio panel regarding parents/children</li>
  <li>Better centering of bio name, kick (edit) link outside flow, icon</li>
</ul>
</div>
