@font-face {
	font-family: 'family';
	src:url('/fonts/family.eot?-a8mfwd');
	src:url('/fonts/family.eot?#iefix-a8mfwd') format('embedded-opentype'),
		url('/fonts/family.woff?-a8mfwd') format('woff'),
		url('/fonts/family.ttf?-a8mfwd') format('truetype'),
		url('/fonts/family.svg?-a8mfwd#family') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'family';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e603";
}
.icon-unlocked:before {
  content: "\e604";
}
.icon-user:before {
  content: "\e606";
}
.icon-users:before {
  content: "\e605";
}
.icon-users2:before {
  content: "\e607";
}
.icon-user2:before {
  content: "\e608";
}
.icon-bars:before {
  content: "\e60d";
}
.icon-chart:before {
  content: "\e60e";
}
.icon-image:before {
  content: "\e60c";
}
.icon-book:before {
  content: "\e601";
}
.icon-bullhorn:before {
  content: "\e609";
}
.icon-flag:before {
  content: "\e602";
}
.icon-refresh:before {
  content: "\e600";
}
.icon-graph:before {
  content: "\e60b";
}
.icon-vcard:before {
  content: "\e60a";
}
.icon-tags:before {
  content: "\e611";
}
.icon-male:before {
  content: "\e600";
}
.icon-female:before {
  content: "\e610";
}

.icon-tag:before {
  content: "\e605";
}

