@import 'mixins';


/*
  =GL Global Styles
  =IN Inputs and labels
  =LA Layout
  =HN Header and Navigation
*/

/*
  =================================================================================
  =GL Global Styles
  =================================================================================
*/
html {
  background-color: #fff;
  background-size: cover;
  color: #333;
  font-family: "ff-meta-web-pro", 'Proxima Nova', 'Helvetica', serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 76px 0 0 0; /* Offset fixed header */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

p {
  color: #777;
  letter-spacing: -0.5px;
}
a, a:visited {
  text-decoration: none;
  color: $green;
  transition: all 0.15s ease-in;
  &:hover {
    color: #000;
  }
}

a.warning {
  color: red;
  &:hover {
    color: #990000;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.breadcrumb {
  padding: 0 0 10px 10px;
}

.pace .pace-progress {
  background: darken($green-light, 5%);
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 3px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive { display: none; }


.todo {
  h1, h2, h3, h4 {
    margin: 0.5em 0;
  }
  ul {
    list-style: disc;
    li {
      margin-left: 1.5em;
    }
  }
}



/*
  =================================================================================
  =IN Input types
  =================================================================================
*/

label {
  display: inline-block;
  margin-top: 10px;
}
input[type='text'] {
  display: block;
  padding: 5px;
}

input[type='submit'] {
  background: $blue;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: .9em;
  margin-right: 15px;
  padding: 10px 20px;
  transition: all 0.1s ease-in;
  &:hover {
    background-color: #236997;
    cursor: pointer;
  }
}

/*
  =================================================================================
  =LA Layout
  =================================================================================
*/


/* Content wrapper for pages */
.content {
  margin: 0 auto 3em auto;
  overflow: hidden;
  padding: 2px;
  max-width: 1104px;
  width: 95%;
}

/* Override for content to break wider than 1140px */
.wide {
  width: 100% !important;
  max-width: 100%;
}


.module {
  border-top: 1px solid $hairline;
  padding: 40px 0;
  h1 {
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.5em;
  }
  p {
    font-family: 'Proxima Nova', "proxima-nova", 'Helvetica', serif;
    font-size: 1.5em;
    font-weight: 300;
  }
  &.off-white {
    background: #f7f9fa;
  }
  &.inverted {
    background: $charcoal;
    color: white;
    p { color: #ddd; }
  }
}

/*
  =================================================================================
  =HN Header & Navigation
  =================================================================================
*/

header {
  background: $green-light;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  h1 {
    font-size: 1.25em;
    display: inline-block;
    padding: 25px 0;
    width: 5em;
    img {
      width: 100%;
    }
    a {
      padding: 15px 0;
    }
  }
  nav {
    float: right;
    padding-top: 28px;
    a {
      border-radius: 4px;
      color: white !important;
      padding: 10px 30px;
      &:hover {
        background: darken($green-light, 3%);
      }
    }
  }
  div {
    margin: 0 auto;
    max-width: 1100px;
    width: 95%;
  }
}






