@import 'mixins';
/*
  ==============================================================
  Dashboard
  ==============================================================
*/

.home-half-links {
  overflow: hidden;
  margin-bottom: 2em;
  li {
    float: left;
    text-align: center;
    width: 32%;
    &:nth-child(even){
      margin: 0 2%;
    }
    a {
      background: $dark-glass;
      border-radius: 2px;
      color: white;
      display: block;
      font-size: 2em;
      font-weight: bold;
      padding: 40px 20px;
      img {
        width: 40%;
        margin: 0 auto;
      }
      span {
        display: block;
        margin: 20px;
      }
      &:hover {
        background: $dark-glass-hover;
        color: white;
      }
    }
  }
}

.stats {
  color: white;
  li {
    background: $dark-glass;
    border-radius: 2px;
    font-size: 1.25em;
    font-weight: bold;
    display: inline-block;
    padding: 20px;
    margin: 0 20px 20px 0;
    text-align: center;
    span {
      display: block;
      margin: .5em 0 0 0;
    }
  }
}


.search {
  background: $dark-glass;
  padding: 60px 40px;
  margin-bottom: 2em;
  #query {
    border: none;
    border-radius: 2px;
    float: left;
    font-size: 1.5em;
    margin-left: 1em;
    padding: 15px;
    width: 78%;
  }
  input[type='submit'] {
    display: inline-block;
    margin-left: 1em;
    padding: 20px !important;
    width: 15%;
  }
}
