.index {
  background: #fff;
  padding: 20px;
  width: 100%;
}


table {
  border-collapse: collapse;
  width: 100%;
  th, td { padding: 8px; }
  th {
    text-align: left;
  }
  tr:nth-child(even) {
    background: #f9f9f9;
  }
  td {
  }
}

.pagination {
  text-align: center;
  padding-top: 20px;
  * {
    padding: 5px 10px;
  }
  em:hover,
  span:hover {
    cursor: default;
  }
}
