@import 'mixins';

/*
  ==============================================================
  People#index - old root page
  ==============================================================
*/

.index {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  padding: 20px;
  width: 100%;
}


table {
  border-collapse: collapse;
  width: 100%;
  th, td { padding: 8px; }
  th {
    font-size: .9em;
    border-bottom: 1px solid #f2f2f2;
    text-align: left;
  }
  tr:nth-child(even) {
    background: #F7FCF5;
  }
  td {
  }
}

.pagination {
  text-align: center;
  padding: 30px 0 10px 0;
  * {
    padding: 5px 10px;
  }
  em:hover,
  span:hover {
    cursor: default;
  }
}



.index form {
  margin: 0 auto 2em auto;
  padding: 3px 0;
  width: 80%;
  input[type='text'] {
    border: 1px solid #ccc;
    border-radius: 2px;
    float: left;
    font-size: 1em;
    padding: 10px;
    width: 75%;
  }
  input[type='submit'] {
    display: inline-block;
    margin-left: 1em;
    width: 15%;
  }
  a {
    color: #555;
    &:hover { color: #000; }
  }
}


/*
  ==============================================================
  New Home Page - Dashboard
  ==============================================================
*/

.home-half-links {
  overflow: hidden;
  margin-bottom: 2em;
  li {
    float: left;
    text-align: center;
    width: 32%;
    &:nth-child(even){
      margin: 0 2%;
    }
    a {
      background: $dark-glass;
      border-radius: 2px;
      color: white;
      display: block;
      font-size: 2em;
      font-weight: bold;
      padding: 40px 20px;
      img {
        width: 40%;
        margin: 0 auto;
      }
      span {
        display: block;
        margin: 20px;
      }
      &:hover {
        background: $dark-glass-hover;
        color: white;
      }
    }
  }
}

.stats {
  color: white;
  li {
    background: $dark-glass;
    border-radius: 2px;
    font-size: 1.25em;
    font-weight: bold;
    display: inline-block;
    padding: 20px;
    margin: 0 20px 20px 0;
    text-align: center;
    span {
      display: block;
      margin: .5em 0 0 0;
    }
  }
}


.search {
  background: $dark-glass;
  padding: 60px 40px;
  margin-bottom: 2em;
  #query {
    border: none;
    border-radius: 2px;
    float: left;
    font-size: 1.5em;
    margin-left: 1em;
    padding: 15px;
    width: 78%;
  }
  input[type='submit'] {
    display: inline-block;
    margin-left: 1em;
    padding: 20px !important;
    width: 15%;
  }
}
