@import 'mixins';
/*
  ==============================================================
  Dashboard
  ==============================================================
*/

.big-links {
  background: #44a069; /* Old browsers */
  background: -moz-linear-gradient(top, #44a069 0%, #47ad70 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44a069), color-stop(100%,#47ad70)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #44a069 0%,#47ad70 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #44a069 0%,#47ad70 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #44a069 0%,#47ad70 100%); /* IE10+ */
  background: linear-gradient(to bottom, #44a069 0%,#47ad70 100%); /* W3C */
  border-bottom: 1px solid $green-light;
}

.home-big-links {
  overflow: hidden;
  li {
    float: left;
    text-align: center;
    width: 32%;
    &:nth-child(even){
      margin: 0 2%;
    }
    a {
      border-radius: 4px;
      color: $white;
      display: block;
      font-size: 1.75em;
      padding: 40px 10px;
      img {
        width: 50%;
        margin: 0 auto;
      }
      span {
        display: block;
        margin: 20px;
      }
      &:hover {
        background: darken($green-light, 2%);
        color: $white;
        -webkit-transform: scale(1.03);
      }
    }
  }
}

.module.stats {
  li {
    font-size: 1.5em;
    font-weight: bold;
    display: inline-block;
    padding: 20px;
    margin: 0 20px 20px 0;
    text-align: center;
    [class*="icon-"] {
      color: $red;
      font-size: 1.75em;
      margin-bottom: .5em;
      text-align: center;
    }
    span {
      display: block;
      font-size: .8em;
      margin: .25em 0 0 0;
    }
    span:last-child {
      font-size: .75em;
    }
  }
}


.search {
  #query {
    border: 1px solid #ccc;
    border-radius: 2px;
    display: inline-block;
    float: left;
    font-size: 1.5em;
    margin: 1em 0;
    padding: 15px;
    width: 78%;
  }
  input[type='submit'] {
    float: left;
    margin: 1.75em 0 0 1em;
    padding: 20px !important;
    width: 15%;
  }
}
