// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.full-note {
  border: 1px solid #f2f2f2;
  background: #fff;
  padding: 20px;
}
