.detail-card {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;

  h1 { font-size: 1.7em; }
  .edit-person {
    color: #999;
    font-size: .5em;
    &:hover { color: #000; }
  }
  span {
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    display: inline-block;
    padding: 8px 12px;
    margin: 0 8px 8px 0;
    transition: all 0.15s ease-in;
    &:hover {
      border-color: #999;
    }
  }

  .notes li {
    margin-bottom: 1em;
    .sub-link {
      display: block;
      font-weight: bold;
      margin-left: 0.5em;
    }
  }

  .add-relation,
  .add-photo,
  .add-note {
    a {
      color: #999;
      font-size: .85em;
      border: 1px dashed #ddd;
      border-radius: 4px;
      padding: 4px 8px;
      &:hover { color: #000; border-color: #555; }
    }
  }
}

.add-edit-person {
  background: #fff;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #eee;
  padding: 20px;
  overflow: hidden;
  .actions {
    margin-top: 2em;
  }
}

