@import 'mixins';


.wrap {
  display: inline-block;
  overflow: visible;
  margin-bottom: 1.25em;
  width: 100%;
}

.tile {
  background: rgba(255,255,255,0.75);
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  float: left;
  padding: 20px;
}

.half {
  margin-right: 2%;
  width: 49%;
  &:last-of-type {
    margin: 0;
  }
}

a.subtle {
  color: #999;
  font-size: .85em;
  border: 1px dashed #ddd;
  border-radius: 4px;
  display: inline-block;
  margin-top: 1em;
  padding: 8px;
  &:hover { color: #000; border-color: #555; }
}

/*
  =========================================================
  Main Bio Panel
  =========================================================
*/

.main-bio {
  float: left;
  font-size: 1.25em;
  margin-right: 2%;
  padding: 2em 0 !important;
  text-align: center;
  width: 70%;
  .children {
    font-size: .85em;
    margin-top: 3em;
  }
  .parents {
    font-size: .85em;
    margin-bottom: 3em;
  }
  h1 { font-size: 1.7em; }
  .edit-person {
    color: #999;
    font-size: .5em;
    &:hover { color: #000; }
  }
  span {
    display: inline-block;
    padding: 8px 15px;
    margin: 0 8px 8px 0;
    transition: all 0.15s ease-in;
  }
}

/*
  =========================================================
  Sibling Sidebar
  =========================================================
*/
.siblings {
  float: left;
  width: 28%;
}

/*
  =========================================================
  Photos Panel
  =========================================================
*/
.photos {
  h3 {
    margin-bottom: 1em;
  }
  img {
    border: 1px solid rgba(0,0,0,0.25);
    margin: 0 auto;
    width: 50%;
  }
}

/*
  =========================================================
  Notes Panel
  =========================================================
*/

.notes li {
  margin-bottom: 1em;
  .sub-link {
    display: block;
    margin-left: 0.5em;
  }
}






/*
  =========================================================
  Person#form
  =========================================================
*/


.add-edit-person {
  background: #fff;
  padding: 20px;
  overflow: hidden;
  .field {
    float: left;
    overflow: hidden;
    padding: 10px 0;
    width: 50%;
  }
  .relations {
    float: left;
    padding: 10px 0;
    width: 50%;
    h3 {
      border-bottom: 1px solid #ccc;
      margin-top: 0.5em;
      padding: 5px 0;
    }
  }
  .actions {
    margin-top: 2em;
  }
}

