@import 'mixins';

.photo-gallery {
  overflow: hidden;
  margin-top: 2em;
}
.photo-gallery li {
  float: left;
  margin-right: 2%;
  margin-bottom: 3em;
  height: 300px;
  text-align: center;
  width: 23%;
  img {
    max-height: 100%;
    max-width: 100%;
  }
  a {
    color: black;
    &:hover {
      color: $green;
    }
  }
  span {
    display: block;
    width: 100%;
  }
}
