.breadcrumb {
  padding: 0 0 10px 10px;
}

footer {
  font-size: .8em;
  text-align: center;
}

label {
  display: inline-block;
  margin-top: 10px;
}
input[type='text'] {
  display: block;
  padding: 5px;
}


.todo {
  h1, h2, h3, h4 {
    margin: 0.5em 0;
  }
  ul {
    list-style: disc;
    li {
      margin-left: 1.5em;
    }
  }
}

.float-header {
  color: #fff;
  font-size: 2em;
  margin-bottom: 1em;
}






.notes {
  background: #fff;
  overflow: hidden;
}
