.breadcrumb {
  padding: 0 0 10px 10px;
}

footer {
  font-size: .8em;
  text-align: center;
}



label {
  display: inline-block;
  margin-top: 10px;
}
input[type='text'] {
  display: block;
  padding: 5px;
} 

