@font-face {
  font-family: 'family';
  src: url('font/family.eot?64141728');
  src: url('font/family.eot?64141728#iefix') format('embedded-opentype'),
       url('font/family.woff?64141728') format('woff'),
       url('font/family.ttf?64141728') format('truetype'),
       url('font/family.svg?64141728#family') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'family';
    src: url('../font/family.svg?64141728#family') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "family";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-spin6:before { content: '\e808'; } /* '' */
.icon-lock-open:before { content: '\e806'; } /* '' */
.icon-ok-circled:before { content: '\e80a'; } /* '' */
.icon-tag:before { content: '\e80b'; } /* '' */
.icon-tags:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e814'; } /* '' */
.icon-user:before { content: '\e812'; } /* '' */
.icon-users:before { content: '\e813'; } /* '' */
.icon-picture:before { content: '\e822'; } /* '' */
.icon-cancel:before { content: '\e815'; } /* '' */
.icon-flag:before { content: '\e816'; } /* '' */
.icon-reply:before { content: '\e818'; } /* '' */
.icon-forward:before { content: '\e819'; } /* '' */
.icon-pencil:before { content: '\e817'; } /* '' */
.icon-vcard:before { content: '\e80d'; } /* '' */
.icon-location:before { content: '\e80e'; } /* '' */
.icon-cog:before { content: '\e810'; } /* '' */
.icon-ok:before { content: '\e809'; } /* '' */
.icon-down-open:before { content: '\e81a'; } /* '' */
.icon-left-open:before { content: '\e81b'; } /* '' */
.icon-right-open:before { content: '\e81c'; } /* '' */
.icon-up-open:before { content: '\e81d'; } /* '' */
.icon-down-dir:before { content: '\e81e'; } /* '' */
.icon-left-dir:before { content: '\e81f'; } /* '' */
.icon-right-dir:before { content: '\e820'; } /* '' */
.icon-up-dir:before { content: '\e821'; } /* '' */
.icon-globe:before { content: '\e811'; } /* '' */
.icon-chart-pie:before { content: '\e804'; } /* '' */
.icon-chart-line:before { content: '\e803'; } /* '' */
.icon-chart-pie-1:before { content: '\e805'; } /* '' */
.icon-group:before { content: '\e802'; } /* '' */
.icon-male:before { content: '\e800'; } /* '' */
.icon-female:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e807'; } /* '' */
.icon-tools:before { content: '\e80f'; } /* '' */

