<!DOCTYPE html>
<html>
<head>
  <title>Family</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class='row'>
    <section class='twelve columns'>
    <p><a href="/">Family Tree</a></p>
    </section>
  </header>

  <div class='row'>
    <%= yield %>
  </div>

  <footer class='row'>
    <section class='twelve columns'>
      <p>&copy;2013 Chris Peak</p>
    </section>
  </footer>
</body>
</html>
