<!DOCTYPE html>
<html>
<head>
  <title>Family</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class='row'>
      <section class='twelve columns'>
        <h1><a href="/">Family Tree</a></h1>
      </section>
    </div>
  </header>

  <div class='row'>
    <%= yield %>
  </div>
</body>
</html>
