<!DOCTYPE html>
<html class='fullscreen fallingLeaves'>
<head>
  <title>Family</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//use.typekit.net/ghd6xqf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body class='fullscreen'>
  <span id='leaf1'></span>
  <span id='leaf2'></span>
  <span id='leaf3'></span>
  <div id="login" class='animated fadeIn'>
    <%= yield %>
  </div>
</body>
</html>
